img {
  width: 50px;
  display: inline-block;
  margin-right: 10px;
}

.link {
  text-decoration: underline;
  color: rgb(0, 107, 207);
}

.link: hover {
  background-color: rgb(0, 107, 207);
}

.block {
  display: block;
  margin-top: 16px;
  text-align: left;
}

.contact-info {
  margin-left: 16px;
  margin-top: 50px;
  width: 300px;
}
